// Style
@import '../node_modules/@simonwep/pickr/src/scss/pickr.scss';
@import "global/global-variables";

* {
  font-family: 'Source Sans Pro', sans-serif;
}


.main {
  margin: $margin;
  padding: $padding;
  background: $blue;
  color: #ffffff;

  a {
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
  }
}

.pickers-wrapper {
  margin: 20px auto;
  padding: 20px 0;
  transition: background-color 0.5s ease;

  &.black {
    background: #000;
    border: 1px dotted #fff;

    color: #fff;
  }

  &.white {
    background: #fff;
    border: 1px dotted #000;

    color: #000;
  }

  span {
    transition: color 0.5s ease;
  }
}

.pickerHolder {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: normal;

  span {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.5rem;

    &.rgba,
    &.luminance {
      font-size: 1rem;
    }
  }
}

.pickr .pcr-button {
  width: 200px;
  height: 200px;
}

.pickers {
  width: calc(100% - 4rem);
  //max-width: 1024px;
  margin: 20px auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 40px 40px;
}

.controllers {
  margin: 4rem auto;
  width: calc(100% - 2rem);
  max-width: 660px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  button {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
  }
}


.components {
  margin-top: 4rem;
  padding-top: 4rem;
  border-top: 1px dotted #323232;

  * {
    transition: all 0.25s ease;
  }

  .basic-copy,
  .buttons {
    margin: 2rem;
    padding: 2rem;
  }

  .simple-button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
}

#accessibility {
  margin: 4rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: normal;
}

#accessibilityOutputs {
  width: 100%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.results_box {
  border: 1px dotted #323232;
  border-radius: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;

  button {
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 8px;
  }
}

.result {
  max-width: calc(100% - 2rem);
  margin: 0 1rem;
  //padding: 0 1rem;
}

.sample {
  padding: 0rem 1rem 1rem;
  border-top: 1px dotted #323232;
  border-radius: 0 0 16px 16px;

  transition: all 0.25s ease;
}

.result__message {
  font-weight: 700;
  font-size: 1.25rem;

  &[data-resultlevel="fail"] {
    color: red;
  }

  &[data-resultlevel="caution"] {
    color: #88663F;
  }

  &[data-resultlevel="success"] {
    color: #065642;
  }
}

.hidden {
  display: none;
}
