---
title: Component Colorizer
---

<h1>Component Colorizer!</h1>

<div id="wrapperBackground" class="pickers-wrapper black">
    <div class="pickers">
        <div data-name="Primary" class="pickerHolder">
            <div class="color-picker"></div>
            <span data-labeller>Primary</span>
            <span class="rgba"></span>
            <span>Luminance</span>
            <span class="luminance"></span>
        </div>

        <div data-name="Secondary" class="pickerHolder">
            <div class="color-picker"></div>
            <span data-labeller>Secondary</span>
            <span class="rgba"></span>
            <span>Luminance</span>
            <span class="luminance"></span>
        </div>

        <div data-name="Tertiary" class="pickerHolder">
            <div class="color-picker"></div>
            <span data-labeller>Tertiary</span>
            <span class="rgba"></span>
            <span>Luminance</span>
            <span class="luminance"></span>
        </div>
    </div>
</div>

<div class="controllers">
    <button id="invertWrapper">Invert pickers background color</button>
</div>

<div id="accessibility">
    <h2>Accessibility Information</h2>

    <div id="accessibilityOutputs"></div>
</div>

<div class="components">
    <div data-colorsource="secondary" class="basic-copy">
        <h1 data-colorsource="primary">A simple headline</h1>
        <p data-colorsource="primary">Some general body copy.</p>
        <p data-colorsource="primary">A piece of copy with <a href="google.com">a link to an external resource</a> contained within.</p>
    </div>

    <div class="buttons">
        <button class="simple-button" data-colorsource="primary-on-secondary" id="basic-button">A basic button</button>
    </div>
</div>

<div class="templates">
    <template id="result_box">
        <div class="results_box">
            <div class="result">
                <h3 class="result__title">Comparison: <span class="result__title__primary"></span> to <span class="result__title__secondary"></span></h3>
                <p data-resultlevel="" class="result__message"></p>
                <p class="result__ratio">Contrast ratio: <span class="result__ratio__value"></span></p>

                <p><button data-inverter>Invert Sample</button></p>
            </div>

            <div class="sample">
                <h2 class="result__title">Sample headline</h2>
                <p>Some simple sample body copy. Lorem ipsum! La la la!</p>
            </div>
        </div>
    </template>

    <template>
        <div data-name="" id="primaryPickerHolder" class="pickerHolder">
            <div id="primaryPickerElement" class="color-picker"></div>
            <span>Primary</span>
            <span class="rgba"></span>
            <span>Luminance</span>
            <span class="luminance"></span>
        </div>
    </template>
</div>
