---
title: Component Colorizer
---

<h1>Component Colorizer!</h1>

<div id="wrapperBackground" class="pickers-wrapper black">
    <div class="pickers">
        <div id="primaryPickerHolder" class="pickerHolder">
            <div id="primaryPickerElement" class="color-picker"></div>
            <span>Primary</span>
            <span class="rgba"></span>
            <span>Luminance</span>
            <span class="luminance"></span>
        </div>

        <div id="secondaryPickerHolder" class="pickerHolder">
            <div id="secondaryPickerElement" class="color-picker"></div>
            <span>Secondary</span>
            <span class="rgba"></span>
            <span>Luminance</span>
            <span class="luminance"></span>
        </div>

        <div id="tertiaryPickerHolder" class="pickerHolder">
            <div id="tertiaryPickerElement" class="color-picker"></div>
            <span>Tertiary</span>
            <span class="rgba"></span>
            <span>Luminance</span>
            <span class="luminance"></span>
        </div>
    </div>
</div>

<div class="controllers">
    <button id="invertWrapper">Invert pickers background color</button>
</div>

<div id="accessibility">
    <h2>Accessibility Information</h2>
    <h3>Primary-Secondary Contrast Ratio: <span id="primary-secondary-contrast-ratio"></span></h3>
    <p id="success-box"></p>
</div>

<div class="components">
    <div data-colorsource="secondary" class="basic-copy">
        <h1 data-colorsource="primary">A simple headline</h1>
        <p data-colorsource="primary">Some general body copy.</p>
        <p data-colorsource="primary">A piece of copy with <a href="google.com">a link to an external resource</a> contained within.</p>
    </div>

    <div class="buttons">
        <button class="simple-button" data-colorsource="primary-on-secondary" id="basic-button">A basic button</button>
    </div>
</div>
