---
title: Component Colorizer
---

<div class="title-wrapper">
    <div class="title">
        <h1>Component Colorizer!</h1>
    </div>
</div>

<div id="wrapperBackground" class="pickers-wrapper black">
    <div class="pickers">
        <div data-name="Primary" class="pickerHolder">
            <div class="color-picker"></div>
            <span data-labeller>Primary</span>
            <span class="rgba"></span>
            <span>Luminance</span>
            <span class="luminance"></span>
        </div>

        <div data-name="Secondary" class="pickerHolder">
            <div class="color-picker"></div>
            <span data-labeller>Secondary</span>
            <span class="rgba"></span>
            <span>Luminance</span>
            <span class="luminance"></span>
        </div>

        <div data-name="Tertiary" class="pickerHolder">
            <div class="color-picker"></div>
            <span data-labeller>Tertiary</span>
            <span class="rgba"></span>
            <span>Luminance</span>
            <span class="luminance"></span>
        </div>
    </div>
</div>

<div class="controllers-wrapper">
    <div class="controllers">
        <button id="invertWrapper">Invert Background Color</button>
        <button id="addPicker">Add New Picker</button>
    </div>
</div>

<div class="accessibility-wrapper">
    <div class="accessibility-title">
        <h2>Accessibility Information</h2>
        <p>a.k.a., is it contrasty enough?</p>
    </div>

    <div id="accessibility">
        <div id="accessibilityOutputs"></div>
    </div>
</div>

<div class="components">
    <div data-colorsource="secondary" class="basic-copy">
        <h1 data-colorsource="primary">A simple headline</h1>
        <p data-colorsource="primary">Some general body copy.</p>
        <p data-colorsource="primary">A piece of copy with <a href="google.com">a link to an external resource</a> contained within.</p>
    </div>

    <div class="buttons">
        <button class="simple-button" data-colorsource="primary-on-secondary" id="basic-button">A basic button</button>
    </div>
</div>

{{!-- Templates --}}

<div class="templates">
    <template id="result_box">
        <div class="results_box">
            <div class="result">
                <h3 class="result__title"><span class="result__title__primary"></span> : <span class="result__title__secondary"></span></h3>
                <p data-resultlevel="" class="result__message"></p>
                <p class="result__ratio">Contrast ratio: <span class="result__ratio__value"></span></p>

                <p><button data-inverter>Invert Sample</button></p>
            </div>

            <div class="sample">
                <h2 class="">A Sample Headline</h2>
                <p>Quo culpa eius atque mollitia consequatur est. Doloribus omnis voluptatem facilis quis quasi eum. Fuga quia dolorum voluptatibus voluptates perferendis. Qui natus porro sunt aut et repudiandae.</p>
            </div>
        </div>
    </template>

    <template id="picker_starter">
        <div data-name="" class="pickerHolder">
            <div class="color-picker"></div>
            <span data-labeller>Primary</span>
            <span class="rgba"></span>
            <span>Luminance</span>
            <span class="luminance"></span>
        </div>
    </template>
</div>
